<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <h3>Demos</h3>
    <ul>
      <% for(var i=0; i<demos.length; i++) {%>
      <li><a href="/<%= demos[i] %>">/<%= demos[i] %></a></li>
      <% } %>
    </ul>
  </body>
</html>
